@font-face{
    src: url("../assets/fonts/SFPRODISPLAYREGULAR.OTF");
    font-family: st;
}
@font-face{
    src: url("../assets/fonts/JetBrainsMonoNL-Light.ttf");
    font-family: console-light;
}
@font-face{
    src: url("../assets/fonts/JetBrainsMono-Bold.ttf");
    font-family: console-bold;
}
*, body{
font-family: st;
background: #00000000;
color: #fff;
margin: 0;
padding: 0;
max-width: 100vw !important;
/* width: 100vw !important; */
    /* box-sizing: border-box; */

}
body{
    background: #000;
}
html, body, * {
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* IE/Edge legacy */
}
html::-webkit-scrollbar,
body::-webkit-scrollbar,
*::-webkit-scrollbar {
    width: 0;
    height: 0;
    display: none;
}
.nav-cont{
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    height: max-content;
    position: fixed;
    left: 0;
    top: 16px;
    z-index: 9999;
    background: #00000000;
    
}
.navig{
    width: 90%;
    max-width: 1000px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-items: center;
    justify-content: center;
    background: #00000000;
    padding: 6px 6px;
    border-radius: 16px;
    backdrop-filter: blur(16px);
    -webkit-backdrop-filter: blur(16px);
    border: 2px solid #ffffff0a;
    height: 36px;
    .nav-list{
        list-style: none;
        display: flex;
        right: 0;
        position: fixed;
        padding: 0 6px;
        background: none;

        li{
            padding: 0 12px;
            background: none;
            button{
                background: #5353531b;
                border: 2px solid #ffffff1a;
                border-radius: 8px;
                color: #fff;
                padding: 2px 6px;
                font-family: st;
                font-size: 16px;
                font-weight: 600;
                cursor: pointer;
            }
        }
    }
}
.logo-img{
    width: 32px;
    height: 32px;
    background:none;
    padding: 0px 6px;
}
logo{
    left: 0;
    position: fixed;
    background:none;
    display: flex;
    flex-direction: row;
    align-items: center ;
    font-weight: 1000;

}
header{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: linear-gradient(
        to bottom,
        rgba(0, 0, 0, 0) 0%,
        rgba(0, 0, 0, 0) 75%,
        rgba(0, 0, 0, 1) 100%
    ), url("https://images.hindustantimes.com/auto/img/2023/03/16/1600x900/Traffic_jam_1678944991540_1678944991839_1678944991839.jpg");
    h1, h6{
        font-size:clamp(20px, 10vw, 90px);
        /* font-weight: 1000; */
    }
    *{
        background: none;
    }
}

html{
    size: none;
}
.content{
    width: 100vw;
    height: 100vh;
    display: flex;
    /* flex-direction: column;
    justify-content: center; */
    /* align-items: center; */
    margin: 0;
    padding: 0;
}
.banner{
    width: 75%;
    height: 72px;
    /* border: red solid 2px; */
    border-radius: 6px;
    display: flex;
    flex-direction: row;
    align-items: center;
    background: #0D1019;
    border: 2px solid #ffffff0e;
    padding: 2px;
}
.summary-banner{
    height: 108px;
    flex-direction: column;
    align-items: flex-start;
}
.summary-banner-row{
    display: flex;
    align-items: center;
    width: 100%;
    height: 72px;
}
.center-cont{
       width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    height: max-content;
    background: #00000000;
}
.b_generic{
    border-radius: 8px;
    color: #fff;
    height: 80%;
    text-align: start;
    align-content: start;
    margin: 8px;
    padding: 8px;
    font-family: st;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    border: none;
    transition: 0.3s ease-in-out;
    border: 2px solid #ffffff00;
    background:transparent;

}
.b_generic:hover{
    background: #5353531b;
    border: 2px solid #ffffff1a;
    
}
.dropdown-anchor{
    position: relative;
    display: inline-block;
    background: none;
}

.dropdown-anchor-inline{
    vertical-align: middle;
}

.l_generic{
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    overflow: scroll;
    height: 0;
    transition: 0.3s ease-in-out;
    max-height: 25vh;
    position: absolute;
    top: calc(100% + 6px);
    left: 0;
    min-width: 100%;
    width: max-content;
    z-index: 2000;
    border-radius: 0 0 8px 8px;
    background: #0D1019;
    backdrop-filter: blur(16px);
    /* translate: 0 8px; */
    transform-origin: top center;
    
    li{

        background: none;

        button{
            background: none;
        }
    }
    transition:height  0.3s ease-in-out;
}
.l_generic.active{
    height: fit-content;
    transition: height 0.3s ease-in-out;

}
.l_generic_nodrop{
    list-style: none;
    display: flex;
    flex-direction: column;
    align-self: flex-start;
    align-items: center;
    justify-items: center;
    overflow: scroll;
    height: max-content;
    transition: 0.3s ease-in-out;
    /* max-height: 25vh; */
    /* position: absolute; */
    /* top: calc(100% + 6px); */
    /* left: 0; */
    min-width: 100%;
    width: max-content;
    /* z-index: 2000; */
    border-radius: 8px;
    /* background: #0D1019; */
    backdrop-filter: blur(16px);
    /* translate: 0 8px; */
    padding: 16px;
    transform-origin: top center;
    li{

        background: none;
        min-height: 72px;

        button{
            background: none;
        }
    }
}
.l_generic_nodrop.active{
    height: fit-content;
    transition: 0.3s ease-in-out;

}
#l_ZoneDetails, .l_ZoneDetails{
    font-size: small;
    font-weight: 600;
    color: #ffffff6b;
    background: none
}

#l_WeekDetails{
    position: relative;
    right: auto;
    margin-left: auto;
    text-align: right;

    /* transform-origin: right center; */
    font-size: 16px;
    font-weight: 600;
    color: #ffffff6b;
    background: none;
    
}
.spacer{
    padding: 0 16px;
    height: 100%;

}
.data_disp{
    width: 95vw;
    /* border: red 2px solid; */
    min-height: 100vh;
    padding: 16px 0;
    border-radius: 6px;
    transition: 0.3s ease-in-out;
    opacity: 0;
    color: #fff;

}
.data_disp.active{
    opacity: 1;
    transition: 0.3s ease-in-out;
}
.horizontal_stacker{
    display: flex;
    flex-direction: row;
    align-items: top;
}
.l_data_disp_item{
    padding: 16px !important;
    background: #0D1019;
    min-width: 125px;
    display: flex;
    flex-direction: column;
    align-items: left;
    /* max-width: 187px; */
    width: 250px;
}
.l_data_disp_item_header{
    font-family: console-bold;
    font-size: large;
    font-weight: 100;
    padding: 0 0 28px 0;
}
.l_data_disp_item_value{
    font-size: x-large;
    font-weight: bolder;
    font-weight: 600;
    /* padding: 0 0 8px 0; */
    font-family: console-light;
}
.l_data_disp li{
    margin: 8px !important;
    border-radius: 8px;
    background: #1721377e;
    border: 2px solid #172137f9;
    transition: 0.3s ease-in-out;
}
.l_data_disp_item_incident.positive{
    background: #1f4d2a7e;
    border: 2px solid #6ee76e;
    transition: 0.3s ease-in-out;
    
    
}
.l_data_disp_item_incident.negative{
    background: #3717177e;
    border: 2px solid #ff0000;
    transition: 0.3s ease-in-out;
}
.l_additional_data{
    font-size: medium;
    font-weight: 600;
    font-family: console-light;
    color: #ffffff6b;
    border-radius: 6px;
    border: 2px solid #ffffff1a;
    white-space: nowrap;
    background: #5353531b;
    transition: 1.3s cubic-bezier(0.075, 0.82, 0.165, 1);
    baseline-shift: 1.5;
    padding: 0 2px;
    max-width: 86px;
    
}
.l_banner_title{
    font-family: console-bold;
}
.l_data_disp_additional_severity{
    min-width: 32px;    
}